* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    position: absolute;
    background-color: #f4f4f4;
  }
  .container{
    padding-left: 100px;
    padding-right: 100px;
  }
  .header {
    padding-top: 50px;
    background: url('./img/bg2.jfif') no-repeat center center/cover;
    height: 700px;
    display: flex;
    justify-content: center;
    text-align: start;
    color: #fff;
  }
.header-nav h1{
    text-align: end;
    color: #333;
    margin-bottom: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 1.5px;
}
.header-nav h1 span {
 color: #fff;
}
  .header h1 {
    font-size: 3rem;
    animation: fadeInDown 1s ease-out;
  }
  
  .header p {
    font-size: 1.2rem;
    margin: 1rem 0;
    animation: fadeInUp 1.5s ease-out;
  }
  .btn-box{
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .header-btn{
    border-radius: 5px;
    background-color: #333;
    padding: 10px 50px;
    font-size: 20px;
    margin: 1rem 0;
    animation: fadeInUp 1.5s ease-out;
    color: antiquewhite;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    &:hover{
        background-color: antiquewhite;
        color: #333;
    }
  }
  .header-link{
    font-size: 20px;
    margin: 0;
    animation: fadeInUp 1.5s ease-out;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid antiquewhite;
    &:hover{
        color: antiquewhite;
        
    }
  }
  .product-details {
    padding: 5rem 0;
  }
  
  .product-details h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .spec-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    padding: 0 2rem;
  }
  
  .spec {
    text-align: center;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.6s ease-out;
  }
  
  .spec h3 {
    color: #f44336;
  }
  
  .icon img {
    width: 50px;
    margin-bottom: 1rem;
  }
  
  .features {
    background-color: #f4f4f4;
    padding: 5rem 0;
  }
  .features h2 {
    margin-bottom: 30px;
    text-align: start;
  }
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 0 2rem;
    text-align: center;
  }
  .feature img {
    margin-top: 50px;
    width: 200px;
  }

 form {
    display: grid;
    gap: 15px;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input,
  form textarea {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  form input:hover,
  form textarea:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
  form input:focus,
  form textarea:focus {
    outline: none;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.15);
    /* transform: translateY(-3px); */
    transform: scale(1.03);
    
  }
  .form-button {
    padding: 12px;
    background: #53090F;
    border: none;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .form-button:hover {
    background: #8a101a;
  }
  input::placeholder,
  textarea::placeholder {
    opacity: 0;
  }
  footer {
    background-image: url("./img/bg2.jfif");
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  /* Animations */
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
  @media (max-width: 768px) {
    .container{
        padding-right: 20px;
        padding-left: 20px;
    }
    .header{
        height: 740px;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    .header h1 {
      font-size: 25px;
      margin-bottom: 10px;
    }
    .header p {
        margin-top: 0;
      font-size: 13px;
      opacity: 0.7;
    }
    .header-box{
        gap: 5px;
    }
    .header-btn{
        font-size: 12px;
        padding: 5px 25px;
    }
    .header-link{
        font-size: 12px;
    }
    .feature img{
        margin: 0;
    }
    input::placeholder,
    textarea::placeholder {
      opacity: 1;
    }
    form label{
        display: none;
    }
 
  }
  